In [135]:
import pandas as pd

In [136]:
train = pd.read_csv('train.csv')

In [137]:
train.corrwith(train['Survived'])

PassengerId   -0.005007
Survived       1.000000
Pclass        -0.338481
Age           -0.077221
SibSp         -0.035322
Parch          0.081629
Fare           0.257307
dtype: float64

In [138]:
train.drop(['PassengerId', 'Pclass', 'Age', 'SibSp'], axis=1, inplace=True)

In [139]:
from pycaret.classification import *

In [140]:
s = setup(data=train, target='Survived', imputation_type='iterative', numeric_imputation='median',
categorical_imputation='mode', numeric_iterative_imputer='et', categorical_iterative_imputer='knn', silent=True,
normalize=True, transformation=True, train_size=0.95, session_id=2022)

In [141]:
compare_models()

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=2022,
                solver='auto', tol=0.001)

In [142]:
ridge = create_model('ridge')

In [143]:
tunedmodel = tune_model(ridge, choose_better=True, optimize='Accuracy')

In [144]:
test = pd.read_csv('cleantest.csv')
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,B57 B59 B63 B66,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,B57 B59 B63 B66,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,B57 B59 B63 B66,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,B57 B59 B63 B66,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,B57 B59 B63 B66,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,27.0,0,0,A.5. 3236,8.0500,B57 B59 B63 B66,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,B57 B59 B63 B66,S
416,1308,3,"Ware, Mr. Frederick",male,27.0,0,0,359309,8.0500,B57 B59 B63 B66,S
417,1309,3,"Peter, Master. Michael J",male,27.0,1,1,2668,22.3583,B57 B59 B63 B66,C

In [145]:
pred = predict_model(tunedmodel, data=test)

In [146]:
pred

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Label
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,B57 B59 B63 B66,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,B57 B59 B63 B66,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,B57 B59 B63 B66,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,B57 B59 B63 B66,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,B57 B59 B63 B66,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,27.0,0,0,A.5. 3236,8.0500,B57 B59 B63 B66,S,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,B57 B59 B63 B66,S,0
416,1308,3,"Ware, Mr. Frederick",male,27.0,0,0,359309,8.0500,B57 B59 B63 B66,S,0
417,1309,3,"Peter, Master. Michael J",male,27.0,1,1,2668,22.3583,B57 B59 B63 B66,C,0

In [154]:
sub = pd.concat([pred['PassengerId'], pred['Label']], axis=1)

In [155]:
sub

     PassengerId  Label
0            892      0
1            893      1
2            894      0
3            895      0
4            896      1
..           ...    ...
413         1305      0
414         1306      1
415         1307      0
416         1308      0
417         1309      0

[418 rows x 2 columns]

In [157]:
sub = sub.rename(columns={'Label':'Survived'})

In [158]:
sub

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [159]:
submission = sub.to_csv('submission.csv', header=True, index=False)